body{
    background-color: aliceblue;
    color: black;
    font-size: 40px;
    font-family: 'Lora', serif;

}
.header{
    color: black;
    text-align: center;
    margin: 30px auto;
    padding: 10px auto;
    font-size: 40px;
    border: 4px rgb(127, 158, 245);
}

.pets{
    color: black;
    text-align: center;
    background-color:  rgb(127, 158, 245);
    font-size: 30px;
}

.background{
    background-color:  rgb(192, 210, 243);
    text-align: center;
    margin: 25px auto;
    font-size: 20px;
}

